{% extends "base.html" %}

{% block title %}Add New Subject{% endblock %}

{% block content %}
  <div class="container">
    <h1>Add New Subject</h1>
    <form method="post">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="col-md-6 form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" class="form-control" required></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Add Subject</button>
    </form>
  </div>
{% endblock %}
